.v-menu__content {
  max-width: 500px !important;
}

.v-overlay--active {
  opacity: 0.85 !important;
  background-color: rgb(60, 60, 60) !important;
}

.v-snack:not(.v-snack--centered):not(.v-snack--top) {
  bottom: 50px;
}
